<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Luna</name>
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <platform name="android">
        <preference name="android-immersiveMode" value="true" />
        <preference name="android-statusbar-color" value="#00000000" />
        <preference name="android-navigationbar-color" value="#00000000" />
    </platform>
</widget>